html, body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.subtitle1 {
  font-size: 36px;
  margin-bottom: 25px;
  color: #666;
}

.timer, .score {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
  text-align: center;
  width: 100%;
}
.valuetext{
  font-size: 40px;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
  width: 100%;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #04AA6D;
  background-color: #f4f4f9;
}

.imagecontainer {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.image {
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttoncontainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button1 {
  background-color: #04AA6D;
  height: 80px;
  width: 60%;
  border: none;
  color: white;
  padding: 5px 20px;
  font-size: 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button1:hover {
  background-color: #038c58;
}

.slidecontainer {
  width: 100%;
  margin: 20px auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #ddd;
  border-radius: 7px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #038c58;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.slider::-moz-range-thumb:hover {
  background-color: #038c58;
}